<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hi index</h1>
    <h2><%= Test.find(params[:test_id]) %></h2>
  </body>
</html>
