<% if resource.errors.present? %>
  <p>Errors: t('.header', count: resource.errors.count)</p>
  <ul>
    <% question.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>
