<tr>
  <td><%= question.body %></td>
  <td><%= link_to 'Открыть', admin_question_path(question) %></td>
  <td><%= link_to 'Изменить', edit_admin_question_path(question) %></td>
  <td><%= link_to 'Удалить', admin_question_path(question), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
