<%= link_to '<', tests_path %>
<h1> Tecт: <%= @test.title %></h1>
<table>
  <tr>
    <td>Вопрос</td>
    <td colspan="2", align="center" > Действия</td>

  </tr>
<%= render @questions%>


</table>
<%= link_to 'Добавить вопрос', admin_new_test_question_path %>
