.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.fail-icon {
  fill: red;
}
.success-icon {
  fill: green;
}

.greyBar {
  width: 100%;
  background-color: LightGray;
}

.greenBar {
  height: 30px;
  background-color: #7FFFD4;
  text-align: center;
  line-height: 30px;
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.timer {
  margin: auto;
  float: right;
  color: blue
}
