<footer>
<p> <%= current_year %> Тимур Миразизов
  Приложение для создания и прохождения тестов.
  <%= github_url("Wcapers", "Test_guru") %>
Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank"> Thinknetica</a>
</p>
</footer>
